apiVersion: v1
kind: Service
metadata:
  name: osticket-mysql
  labels:
    app: osticket
spec:
  ports:
    - port: 3306
  selector:
    app: osticket
    tier: mysql
  clusterIP: None
---
apiVersion: apps/v1beta2 # for versions before 1.8.0 use apps/v1beta1
kind: Deployment
metadata:
  name: osticket-mysql
  labels:
    app: osticket
spec:
  selector:
    matchLabels:
      app: osticket
      tier: mysql
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: osticket
        tier: mysql
    spec:
      containers:
        - image: mysql:5.6
          name: mysql
          env:
            - name: MYSQL_ROOT_PASSWORD
              value: secret
            - name: MYSQL_USER
              value: osticket
            - name: MYSQL_PASSWORD
              value: secret
            - name: MYSQL_DATABASE
              value: osticket
          ports:
            - containerPort: 3306
              name: mysql
---
apiVersion: v1
kind: Service
metadata:
  name: osticket
  labels:
    app: osticket
    group: iot
    tier: frontend
spec:
  type: LoadBalancer
  ports:
    - port: 80
      protocol: TCP
  selector:
    app: osticket
---
apiVersion: apps/v1beta2 # for versions before 1.8.0 use apps/v1beta1
kind: Deployment
metadata:
  name: osticket
  labels:
    tbz-replace-env: ADMIN_PASSWORD
    tbz-replace-env-1: BLA_TEST_VALUE 
spec:
  replicas: 1
  selector:
    matchLabels:
      app: osticket
  template:
    metadata:
      labels:
        app: osticket
        group: customer
        tier: frontend
    spec:
      containers:
        - name: osticket
          image: campbellsoftwaresolutions/osticket
          env:
            - name: MYSQL_HOST
              value: osticket-mysql
            - name: MYSQL_PASSWORD
              value: secret
            - name: ADMIN_PASSWORD
              value: adminPw
            - name: BLA_TEST_VALUE
              value: toReplace
          ports:
            - containerPort: 80
              name: osticket
